<article>
    <header>
        <h1>{{recipe.name}}</h1>
        <h2>{{recipe.style}}</h2>
    </header>
    <aside>
        Brewed On<br />
        {{recipe.brewDate}}<br />
        Packaged On <br />
        {{recipe.packageDate}}<br />
        {{recipe.originalGravity}} OG / {{recipe.finalGravity}} FG
    </aside>
    <aside>
        {{recipe.abv}} ABV<br />
        {{recipe.iBUs}} IBUs<br />
        Fermented Using<br />
        {{recipe.yeastStrain}}
    </aside>
    <footer>
        <h1>The Hipster Fox Brewing Co.</h1>
        <h2>Est. 2014</h2>
    </footer>
</article>
